# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
*.csproj
*.sln
*.user
*.pidb
*.suo
.vs/
.tools/
*.log
Thumbs.db
Desktop.ini

# Keep GitHub Pages WebGL build under docs/
!docs/
!docs/**
!docs/Build/
!docs/Build/**
